<div id="GBGModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3 id="myModalLabel">Gone Baby Gone</h3><h4> by Dennis Lehane</h4>
    </div>
    <div class="modal-body">
        <div class="modal-content">
            <!-- Render sample -->
        </div>
        <div class="modal-sidebar-wrapper">
            <div class="modal-sidebar">
                <h4> <a href="mailto:?bcc=test@readerly.io&subject=Catch%20Your%20Death&body=Hi%20, I've%20just%20started%20reading%20Catch%20Your%20Death%20on%20Readerly.com%20.%20You%20should%20check%20it%20out."> Recommend Catch Your Death </a></h4>
                <p>Download PDF sample</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row-fluid">
            <div class="span1">
                <button id="CYDbkwd" class="btn btn-primary"><</button>
            </div>
        </div>
        <div id="pagenumber" class="span10">
            <!-- Declare page one due to my jQuery inadequacy of changing a variable-->
            
        </div>
        <div class="span1">
            <button id="CYDfwd" class="btn btn-primary">></button>
        </div>
    </div>
</div>