<div class="holder">
	<h2 align="center" >Well this is embarrasing...</h2>
	<h2 align="center">We've sold out</h2>
	<p>Unfortunately we only negotiated to sell a certain number of books as part of this promotion. We've reached this limit and are not allowed to sell any more books at 99p. </p>
	<p>We apologise for this mistake. We will attempt to negotiate more sales.</p>
	<br>
	<p>Readerly Team</p>
</div>