	
<h2 align="CENTER"><strong>Prologue </strong></h2>
<h2 align="CENTER"><strong>Evnis </strong></h2>

<p>
	<em>The Year 1122 of the Age of Exiles, The Wolf Moon </em>
</p>
<p>
	Forest litter crunched under Evnis&#8217; feet, his breath misting as he whispered a curse. He swallowed, is mouth dry.
</p>
<p>
	He was scared, he had to admit, but who would not be. What he was doing this night would make him traitor to his king. And worse.
</p>
<p>
	He paused and looked back. Beyond the forest&#8217;s edge he could still see the stone circle,
</p>
<p>
	behind it the walls of Badun, his home, its outline silvered in the moonlight. It would be so easy to turn back, to go home and chose another path for his
life. He felt a moment of vertigo, as if standing on the edge of a great chasm, and the world seemed to slow, waiting on the outcome of his decision.	<em>I have come this far, I will see it through.</em> He looked up at the forest, a wall of impenetrable shadow, pulled his cloak tighter and walked into
	the darkness.
</p>
<p>
	He followed the giantsway for a while, the stone-flagged road that connected the kingdoms of Ardan and Narvon. It was long neglected, the giant clan that
	built it vanquished over a thousand years ago, great clumps of moss and mushroom growing between crumbling flagstone.
</p>
<p>
	Even in the darkness he felt too vulnerable on this wide road, soon slithered down its steep bank and slipped amongst the trees. Branches scratched
	overhead, wind hissing in the canopy above as he sweated his way up and down slope and dell. He knew where he was going, had walked the path many times
	before, though never at night. Nineteen summers old, yet he knew this part of the Darkwood as well as any woodsman twice his age.
</p>
<p>
Soon he saw a flicker amongst the trees, firelight. He crept closer, stopping before the light touched him, scared to leave the anonymity of the shadows.	<em>Turn around, go home</em>, a voice whispered in his head. You are nothing, will never equal your brother. His mother&#8217;s words, cold and sharp as
	the day she had died. He ground his teeth and stepped into the firelight.
</p>
<p>
	An iron cauldron hung on a spit over a fire, water bubbling. Beside it a figure, cloaked and hooded.
</p>
<p>
	&#8216;Greetings,&#8217; a female voice. She pushed the hood back, firelight making the silver in her hair glow copper.
</p>
<p>
	&#8216;My lady,&#8217; Evnis said to Rhin, Queen of Cambren. Her beauty made him catch his breath.
</p>
<p>
	She smiled at him, wrinkles creasing around her eyes and held out her hand.
</p>
<p>
	Evnis stepped forward hesitantly and kissed the ring on her finger, the stone cold on his lips. She smelled sweet, heady, like over-ripe fruit.
</p>
<p>
	&#8216;It is not too late, you may still turn back,&#8217; she said, tilting his head with a finger under his chin. They stood so close he could feel her
	breath. Warm, laced with wine.
</p>
<p>
	He sucked in a breath. &#8216;No. There is nothing for me if I turn back. This is my chance to...&#8217;
</p>
<p>
	His brother&#8217;s face filled his mind, smiling, controlling, ruling him. Then his mother, her lips
</p>
<p>
	twisted, judging, <em>discounting</em>.
</p>
<p>
	&#8216;...matter. Gethin has arranged a marriage for me, to the daughter of the poorest baron in
</p>
<p>
	Ardan, I think.&#8217;
</p>
<p>
	&#8216;Is she pretty?&#8217; Rhin said, still smiling but an edge in her voice.
</p>
<p>
	&#8216;I have only met her once. No, I cannot even remember what she looks like.&#8217; He looked at
</p>
<p>
	the cauldron on its spit. &#8216;I must do this. Please.&#8217;
</p>
<p>
	&#8216;And in return, what would you give me?&#8217;
</p>
<p>
	&#8216;The whole realm of Ardan. I shall govern it, and bow to you, my High-Queen.&#8217;
</p>
<p>
	She smiled, teeth glinting. &#8216;I like the sound of that. But there is more to this than Ardan. So much more. This is about the God-War. About Asroth
	made flesh.&#8217;
</p>
<p>
	&#8216;I know,&#8217; he whispered, the fear of it almost a solid thing, dripping from his tongue, choking him. But exciting him, too.
</p>
<p>
	&#8216;Are you scared?&#8217; Rhin said, her eyes holding him.
</p>
<p>
	&#8216;Yes. But I will see it through. I have counted the cost.&#8217;
</p>
<p>
	&#8216;Good. Come then.&#8217; She raised a hand and clicked her fingers.
</p>
<p>
	A hulking shadow emerged from the trees and stepped into the firelight. A giant. He stood a man-and-a-half tall, his face pale, all sharp angles and ridged
	bone, small black eyes glittering under a thick-boned brow. A long black moustache hung to his chest, knotted with leather. Tattoos swirled up one arm, a
	creeping, thorn-thick vine disappearing under a chainmail sleeve, the rest of him wrapped in leather and fur. He carried a man in his arms, bound at wrist
	and ankle, as effortlessly as if it were a child.
</p>
<p>
	&#8216;This is Uthas of the Benothi,&#8217; Rhin said with a wave of her hand, &#8216;he shares our allegiances, has helped me in the past.&#8217;
</p>
<p>
	The giant drew near to the cauldron and dropped the man in his arms to the ground, a groan rising from the figure as it writhed feebly on the floor.
</p>
<p>
	&#8216;Help him stand, Uthas.&#8217;
</p>
<p>
	The giant bent over, grabbed a handful of the man&#8217;s hair and heaved him from the floor. The captive&#8217;s face was bruised and swollen, dried blood
	crusting his cheeks and lips. His clothes were ragged and torn, but Evnis could still make out the wolf crest of Ardan on his battered leather cuirass.
</p>
<p>
	The man tried to say something through broken lips, spittle dribbling from one corner of his mouth. Rhin said nothing, drew a knife from her belt and cut
	the captive&#8217;s throat. Dark blood spurted and the man sagged in his captor&#8217;s grip. The giant held him forward, angling him so that his blood
	poured into the cauldron.
</p>
<p>
	Evnis fought the urge to step back, to turn and run. Rhin was muttering, a low, guttural chanting, then a wisp of steam curled up from the cauldron. Evnis
	leaned forwards, staring. A great gust of wind swept the glade. A figure took form in the steam, twisting, turning. The smell of things long dead, rotting,
	hit the back of Evnis&#8217; throat. He gagged, but could not tear his eyes away from where two pinpricks glowed: eyes, a worn, ancient face forming about
	them. It appeared noble, wise, sad, then lined, proud, stern. Evnis blinked and for a moment the face became reptilian, the eddying steam giving the
	appearance of wings unfurling, stretched, leathery. He shivered.
</p>
<p>
	&#8216;Asroth,&#8217; whispered Rhin, falling to her knees.
</p>
<p>
	&#8216;What do you desire?&#8217; a sibilant voice asked.
</p>
<p>
	Evnis swallowed, his mouth dry. <em>I must take what is owed me, step out from my brother&#8217;s shadow. See it through. </em>
</p>
<p>
	&#8216;Power,&#8217; he rasped. Then, louder, taking a deep breath. &#8216;Power. I would rule. My brother, all of Ardan.&#8217;
</p>
<p>
	Laughter, low at first, but growing until it filled the glade. Then silence, thick and heavy as the cobwebs that draped the trees.
</p>
<p>
	&#8216;It shall be yours,&#8217; the figure said.
</p>
<p>
	Evnis felt a trickle of sweat slide down his forehead. &#8216;What do you want in return? What is your price?&#8217;
</p>
<p>
	&#8216;My price is you,&#8217; the swirling figure said, eyes pinning him. &#8216;I want you.&#8217; The lips of the ancient face in the steam twitched, a
	glimmer of a smile.
</p>
<p>
	&#8216;So be it,&#8217; said Evnis.
</p>
<p>
	&#8216;Seal it in blood,&#8217; the ancient face snarled.
</p>
<p>
	Rhin held her knife out.
</p>
<p>
	<em>See it through, see it through, see it through</em>
	, Evnis repeated silently, like a mantra. He clenched his teeth tightly together, gripped the knife, his palm clammy with sweat and drew it quickly across
	his other hand. Curling his fingers into a fist he stepped forwards, thrusting it into the steam above the iron pot. Blood dripped from his hand into the
	cauldron, where it immediately began to bubble. A force like a physical blow slammed into his chest, seemed to pass through him. He gasped and sank to his
	knees, gulping in great, ragged breaths.
</p>
<p>
	The voice exploded in his head, pain shooting through his body.
</p>
<p>
	He screamed.
</p>
<p>
	&#160;&#8216;It is done,&#8217; the voice said.
</p>