<div class="recommendation">
	<p align="center">Thank you for making a recommendation</p>
	<p align="center">You should receive an email with your download link shortly, please check your spam folder.</p>
	<%= link_to "Return to Book", book_path, class: "btn btn-primary" %>
</div>