<div class="book-content">
    <%= @book.chapters %>
</div>
<div class="sidebar-wrapper">
    <div class="sidebar">
    	<h4> <a href="mailto:?bcc=test@readerly.io&subject=Catch%20Your%20Death&body=Hi%20, I've%20just%20started%20reading%20Catch%20Your%20Death%20on%20Readerly.com%20.%20You%20should%20check%20it%20out."> Recommend <%= @book.title %> </a></h4>
        <p>Download PDF sample</p>
    </div>
</div>