@import "bootstrap";

body {
  padding-top: 38px;
  background-color: #ecf0f1 !important;
}

hr {
	height: 2px;
	width: 65%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	color: white;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #666;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
    background-color: transparent;
  }
}

/* Home Page */

.container {
	width: 100%;
}

#bookcase-background {
	height: 440px;
	background-image: url(image_path("bookshelf-background.png"));
	background-position: right 44px top -45px; 
	padding-top: 30px;
}

#heroic {
	
	height: 290px;
	width: 600px;
	background-image: url(image_path("heroBack.png"));
	border-radius: 1em;
	margin-left: auto;
	margin-right: auto;
	h1 {
	padding-top: 30px;
	text-align: center;
	color: white;
	}
	p {
		margin-left: auto;
		margin-right: auto;
		width: 52%;
		color: white;
		font-size: 15px;
		font-weight: bolder;
	}
	.btn {
		margin: 0 auto;
		display: block;
		width: 150px;
		color: white;
	}
}

.bookcover {
	max-height: 220px;
}

.synopsis {
	max-height: 220px;
}


/* Book */
.holder {
	margin: 0 auto;
	width: 680px;
}

.book-content {
	float: left;
    padding: 10px;
    text-align: justify;
    h2 {
    	text-align: center;
    }
    .btn {
    	margin: 0 auto;
    	display: block;
    	width: 30%;
    	color: white;
    }
}

.sidebar-wrapper {
	float: left;
	margin-right: -680px;
    padding: 10px;
    width: 20%;
    white-space: normal;
}

.sidebar {
    position: fixed;
    width: 12%;
    h4 {
    	text-align: center;
    }
    .btn {
		margin: 0 auto;
		margin-bottom: 4px;
		display: block;
		color: white;
	}
}

.synopsis {
	height: 225px;
	overflow-y: scroll;
}

/* Recommendation */

.recommendation {
	margin: 0 auto;
	padding-top: 20px;
	width: 680px;
	.btn {
		width: 20%;
		margin: 0 auto;
		margin-bottom: 10px;
		display: block;
		color: white;
	}
}